<p id="notice"><%= notice %></p>

<p>
  <strong>In url:</strong>
  <%= @link.in_url %>
</p>

<p>
  <strong>Out url:</strong>
  <%= @link.out_url %>
</p>


<p>
  <strong>Redirect count:</strong>
  <%= @link.count %>
</p>

<%= link_to 'Back', links_path %>
